body {
  margin: 0;
  font-family: Arial;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 50%;
  background: #0b5cff;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 300px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #0b5cff;
  color: white;
  border: none;
}